/* --- Estilos Específicos para a página de reserva --- */

/* Formulário de reserva */
form {
    background-color: #fff;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    margin-top: 2rem;
}

form h2 {
    font-size: 1.8rem;
    margin-bottom: 1rem;
    color: #3C2D00;
}

label {
    display: block;
    font-size: 1rem;
    margin: 0.5rem 0;
    color: #333;
}

input[type="number"],
input[type="time"],
select {
    width: 100%;
    padding: 0.8rem;
    margin: 0.5rem 0 1rem 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
}

button[type="submit"] {
    background-color: #F05033;
    color: white;
    padding: 1rem;
    border: none;
    border-radius: 5px;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: #c74328;
}

.mesaRestaurante {
    background-color: rgb(195, 195, 195);
    margin: 2rem;
    padding: 1rem;
    cursor: pointer;
}

.mesasRestaurante {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}