/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-black: #000000;
    --color-light-gray: #e3e3e3;
    --color-white: #ffffff;
    --color-primary: #F05033; /* laranja */
    --color-primary-hover: #c74328; /* laranja mais escuro */
    --color-secondary: #3d3d3d;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: var(--color-light-gray); /* Fundo claro */
    color: var(--color-black); /* Texto escuro */
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main{
    flex: 1;
}

body.no-scroll {
    overflow-y: hidden;
}

.containerHeader{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex; /* Usar flexbox para alinhar o conteúdo horizontalmente */
    justify-content: space-between; /* Espaçar o título e o menu */
    align-items: center; /* Alinhar verticalmente */
}

/* Cabeçalho */
header {
    background-color: var(--color-secondary);
    color: var(--color-white);
    padding: 1rem 0;
}

header h1 {
    text-align: left;
}

header .menu {
    display: flex;
    align-items: center;
}

header .menu ul {
    list-style: none;
    display: flex;
    gap: 1.5rem;
}

header .menu ul li {
    margin: 0;
}

header .menu ul li a,
header .menu ul li button {
    color: var(--color-white);
    text-decoration: none;
    background: none;
    border: none;
    font-size: 1rem;
    cursor: pointer;
}

header .menu ul li button.btn-login {
    background-color: var(--color-primary);
    padding: 0.5rem 1rem;
    border-radius: 5px;
    transition: 0.2s ease;
}

header .menu ul li button.btn-login:hover {
    background-color: var(--color-primary-hover);
}

/* Seção de Restaurantes */
#parceiros h1 {
    text-align: center;
    color: var(--color-black);
    margin: 2rem 0;
    font-size: 2rem;
}

.container{
    display: flex;
    justify-content: center;
}

#restaurantes-lista {
    display: grid;
    grid-template-columns: repeat(2, 500px);
    gap: 50px;
}

.restaurante-card {
    background-color: var(--color-white);
    width: 500px;
    padding: 30px;
    border-radius: 10px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    font-size: medium;
    text-align: justify;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.restaurante-card .informacoes{
    margin-top: 30px;
}

.restaurante-card .informacoes p{
    display: flex;
    align-items: center;
    gap: 5px;
}

.restaurante-card .informacoes .endereco{
    margin: 5px 0 15px;
}

.restaurante-card .informacoes ion-icon{
    font-size: 25px;
    flex-shrink: 0;
}

.restaurante-card .btn-detalhes{
    color: var(--color-white);
    text-decoration: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 10px;
    background-color: var(--color-primary);
}

.restaurante-card .btn-detalhes:hover{
    background-color: var(--color-primary-hover);
}

/* Rodapé */
footer {
    text-align: center;
    background-color: var(--color-secondary);
    color: var(--color-white);
    width: 100%;
    padding: 10px;
    margin-top: 100px;
}

/* Responsividade */
@media (max-width: 768px) {
    header .menu ul {
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    padding-top: 60px;
}

.modal-content {
    background-color: var(--color-white);
    margin: 0 auto;
    padding: 20px;
    border: 1px solid var(--color-light-gray);
    width: 80%;
    width: 500px;
    border-radius: 8px;
}

.modal-content .close {
    color: var(--color-light-gray);
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.modal-content .close:hover,
.modal-content .close:focus {
    color: var(--color-black);
    text-decoration: none;
    cursor: pointer;
}

.modal-content h2 {
    text-align: center;
    margin-bottom: 20px;
}

.modal-content form {
    display: flex;
    flex-direction: column;
}

.modal-content form label {
    margin-bottom: 5px;
    font-weight: bold;
}

.modal-content form input, .modal-content form textarea {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid var(--color-light-gray);
    border-radius: 4px;
}

.modal-content form textarea {
    resize: vertical;
    height: 100px;
}

.modal-content form button {
    background-color: var(--color-primary);
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.modal-content form button:hover {
    background-color: var(--color-primary-hover);
}

.modal-content p {
    margin-top: 10px;
    text-align: center;
}

.modal-content #cadastroBtn {
    color: var(--color-primary);
    text-decoration: none;
}

.modal-content #cadastroBtn:hover {
    text-decoration: underline;
}

.hidden {
    display: none;
}